.content-main h3 {
    color: #7943eb;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 13px;
    position: relative;
    /* padding-left: 45px; */
}

.content-main p {
    color: whitesmoke;
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto Mono;
    margin-bottom: 15px;
}

.content-main a {
    text-decoration: none;
    color: #7943eb;
}

.content-main h4 {
    color: #999;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.content-main {
    padding: 30px;
    background: #060606;
    /* border-bottom: 0.2px solid #efeefe; */
    transition: all .3s ease-in-out;
}

section {
    transition: all .3s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
:root{
  --text-primary-color: #efefef;
  --text-secondary-color: #b1c1d1;
  --special-color: rgb(90 46 187);
  --text-third-color: #838689;
  --on-primary-color: white;
}

#app {
  overflow-x: hidden;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #575757;
  margin-top: 60px;
  margin: 0;
}
.no-glitch-bg{
  background-color: rgb(50 49 68);
    background-image: url(./star-bg.svg);
    background-repeat: repeat-x;
    background-position: center 0,0 0,0 0;
}
.text-primary-color{
  color:var(--text-primary-color)
}
.text-secondary-color{
  color:var(--text-secondary-color)
}
.text-third-color{
  color:var(--text-third-color)
}
.text-special-color{
  color:var(--special-color);
}
.bg-special-color{
  background:var(--special-color);
}
.relative {
  position: relative;
}

.float-right{
  float: right;
}
.font-weight-bold{
  font-weight: 700;
}
a {
    color: inherit!important;
    text-decoration: inherit!important;
}

.Intro-Section {
  min-height: 99vh;
  /* overflow: hidden; */
}

.section-padding {
    padding: 150px 0 100px;
}

canvas {
  padding: 0;
  margin: 0;
  /* width: 100%!important; */
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
}

.text-3r {
  font-size: 3.5rem;
}


.btn-custom {
  outline: none;
  text-transform: uppercase;
  line-height: 2;
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  font-family: Roboto Mono;
  /* color: #20222b; */
  /* background: #5a2ebb; */
  font-size: 0.8rem !important;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 14px 40px;
  cursor: pointer;

  /* z-index: 10; */
}

.btn-custom:hover{
  color:#c7ccd1 !important;
}

.btn-glitchy {
  z-index: 2;
  color:#0a0a0a!important;
  transition: all 0.3s ease-in-out;
  /* background-color: #00ffff; */
  /* border-style: solid; */
  /* border-color: rgb(255, 255, 255); */
  /* border-width: 1px; */
  /* color: #ebeff3; */

}

.btn-glitchy:before,
.btn-glitchy:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
}
.btn-glitchy:before {
  padding: 13px 40px;
  background-color: #5a2ebb;
  z-index: -1;
}
.btn-glitchy:after {
  background-color: #ff00ff;
  z-index: -2;
}
.btn-glitchy:hover .link-inner {
  -webkit-animation: glitchy 0.3s ease 1;
  animation: glitchy 0.3s ease 1;
  /* color: #c7ccd1; */
  /* background-color: #00ffff; */
}
.btn-glitchy:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
  animation: glitchy 0.3s ease 0.3s infinite;
}
.btn-glitchy:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}

@-webkit-keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}


.animate-pulse-left{
  animation: leftpulse 0.9s ease-in-out infinite alternate ;
  animation-delay: 3s;

}
.animate-pulse-right{
  animation: rightpulse 3s ease-in-out infinite alternate ;
  /* animation-delay: 3s; */

}
@-webkit-keyframes leftpulse {
  0% { transform: translate(-2px, 2px); opacity: 0.4 }

  75% { transform: translate(-4px, 2px); opacity: 0.4 }

  99% { transform: translate(0px, -4px); opacity: 0.9 }

  100% { transform: translate(-10px, 2px); opacity: 0.9 }
}

@keyframes leftpulse {
  /* 0% { transform: translateX(0); opacity: 0.4 }
  98% { transform: translate(2px, 2px); opacity: 0.9 }
  100% { transform: translateX(-0.4em); opacity: 0.9 } */
  0% { transform: translate(-2px, 0px); opacity: 0.4 }

  75% { transform: translate(-4px, 2px); opacity: 0.4 }

  99% { transform: translate(0px, -4px); opacity: 0.6 }

  100% { transform: translate(-10px, 2px); opacity: 0.9 }
}

@-webkit-keyframes rightpulse {
  0% { transform: translateX(0); opacity: 0.4 }
  30% { transform: translateX(0.4em); opacity: 0.9 }
  50% { transform: translateX(0.4em); opacity: 0.9 }
  100% { transform: translateX(0.4em); opacity: 0.9 }

}
@keyframes rightpulse {
  0% { transform: translateX(0); opacity: 0.4 }
  /* 20% { transform: translateX(0.1em); opacity: 0.7 } */
  30% { transform: translateX(0.4em); opacity: 0.9 }
  50% { transform: translateX(0.4em); opacity: 0.9 }
  100% { transform: translateX(0.4em); opacity: 0.9 }
}

.animate-float-up{
  animation: floatpulse 3s  ease-in-out infinite  ;
  /* animation-delay: 6s; */
}

@-webkit-keyframes floatpulse {
  0% { transform: translateY(0); opacity: 0.9 }
 
  50% { transform: translateY(0.7em); opacity: 0.4}

  100% { transform: translateY(0); opacity: 0.9}

}
@keyframes floatpulse {
  0% { transform: translateY(0);  opacity: 0.9}
 
  50% { transform: translateY(0.7em); opacity: 0.4}

  100% { transform: translateY(0); opacity: 0.9}
}

.switch-button {
  /* width: 300px; */
  font-size:9px;
  height: 40px;
  text-align: center;
  position: relative;
  padding: 3px 9px;
  transform: translate3D(14%, 24%, 0);
  will-change: transform;
  /* z-index: 197 !important; */
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.4, 0, 1, 1) all;
}
.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: white;
  position: relative;
  border: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 1px;
}
.switch-button-case.active-case-2 {
    background-color: var(--special-color);
    color: var(--on-primary-color);
}
.switch-button-case.active-case-1 {
    background-color: var(--on-primary-color);
    color: var(--special-color);
}
.name {
  font-size: 5rem;
}

.glitch {
  animation: glitchy 0.3s ease infinite reverse;
}

.glitch-text {
  position: relative;
  font-size: inherit;

  /* font-weight: 700; */
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 rgba(84, 22, 146, 0.75),
    -0.025em -0.05em 0 rgba(21, 163, 165, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitchText 550ms infinite;
}

.glitch-span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch-span:first-child {
  animation: glitchText 650ms infinite;

  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 40%);
  transform: translate(-0.025em, -0.025em);
  opacity: 0.8;
}
.glitch-span:last-child {
  animation: glitchText 375ms infinite;

  clip-path: polygon(0 60%, 100% 60%, 100% 30%, 0 40%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitchText {
  0% {
    text-shadow: 0.05em 0 0 rgba(84, 22, 146, 0.75),
      -0.05em -0.025em 0 rgba(21, 163, 165, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  13% {
    text-shadow: 0.05em 0 0 rgba(84, 22, 146, 0.75),
      -0.05em -0.025em 0 rgba(21, 163, 165, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(84, 22, 146, 0.75),
      -0.05em -0.14em 0 rgba(21, 163, 165, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(84, 22, 146, 0.75),
      0.025em 0.025em 0 rgba(21, 163, 165, 0.75),
      -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  /* 20% {
    text-shadow: 
    0.05em 0 0 rgba(84, 22, 146, 0.75), 
    -0.025em 0.05em 0 rgba(21, 163, 165, 0.75),  
    0.025em 0.05em 0 rgba(0,0,255,.75);

  } */
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(84, 22, 146, 0.75),
      0.025em 0.025em 0 rgba(21, 163, 165, 0.75),
      -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(84, 22, 146, 0.75),
      0.05em 0 0 rgba(21, 163, 165, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(84, 22, 146, 0.75),
      0.05em 0 0 rgba(21, 163, 165, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(84, 22, 146, 0.75),
      -0.025em -0.025em 0 rgba(0, 0, 255, 0.75),
      -0.025em -0.05em 0 rgba(21, 163, 165, 0.75);
  }
}

/* **  Fadding 
  ***   gifs
  ***  edges 
 * * */
.faded {
  position: relative;
  display: inline-block;
  color: #1a191c;
}

.faded:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
/* Faded single */
.faded.faded-left:after {
  box-shadow: inset 40px 0 40px -16px;
}
.faded.faded-right:after {
  box-shadow: inset -40px 0 40px -16px;
}
.faded.faded-top:after {
  box-shadow: inset 0 40px 40px -16px;
}
.faded.faded-bottom:after {
  box-shadow: inset 0 -40px 40px -16px;
}
/* end faded single end */

/* faded multiple */
.faded.faded-left.faded-bottom:after {
  /* box-shadow: inset 40px -40px 40px -16px; */
  box-shadow: inset 53px -43px 40px -16px;
}
.faded.faded-top.faded-right:after {
  /* box-shadow: inset -40px 40px 40px -16px; */
  box-shadow: inset -40px 50px 40px -8px;
}
.faded.faded-left.faded-top:after {
  box-shadow: inset 40px 40px 40px -16px;
}
.faded.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -20px 0 40px 16px;
}
/* end faded multiple end */

.g-title{
    position: relative;
    font-size: 2.2rem;
    /* font-weight: 500; */
    text-transform: uppercase;
    padding-left: 30px;
    font-family: Roboto Mono;
    letter-spacing: 4px;
}

.eff-1::before{
    position: absolute;
    z-index: -1;
    top: -7px;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 33px;
    background: #5a2ebb;
    content: "";
    animation: glitchy 1.5s ease infinite reverse;
    /* animation: glitchy 1.5s ease 2 reverse; */

}
.eff-1::after{
    position: absolute;
    z-index: 2;
    top: -12px;
    bottom: 0;
    left: 0;
    width: 11px;
    height: 42px;
    background: #1a1919;
    content: "";
    animation: glitchy 0.4s ease infinite reverse;
}

.listx2-button {
  padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.listx2-button li {
  display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


.text-right {
    text-align: right;
}

@media (max-width: 767px) and (min-width: 320px){
  .switch-button{
    transform: unset;
  }
}


/* GLOBAL BUTTON STYLE */


/* 
button,
button::after {
    position: relative;
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0 0 #00e6f6;
    outline: transparent;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'AVAILABLE NOW'; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0 #f8f005, 3px 3px 0 #00e6f6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: glitch 1s steps(2, end);
}

@-moz-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@-webkit-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@-o-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
} */